{% extends 'diagnosis/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h2>Select Disease Module</h2>

    <a href="/heart/"><button>❤️ Heart Disease</button></a><br><br>
    <a href="/lung/"><button>🫁 Lung Cancer</button></a><br><br>
    <a href="/diabetes/"><button>🩸 Diabetes</button></a><br><br>
    <a href="/kidney/"><button>🫘 Kidney Disease</button></a><br><br>
    <a href="/thyroid/"><button>🦋 Thyroid</button></a><br><br>
</div>
{% endblock %}
